:root { 
    --main-color: #0c0e10;
    --sec-color: #ffffff;

    /* Fonts. */
    --ff-size: 1.2em;
    --ff-main-font: 'Arial';
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: var(--main-color);

    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

    flex-direction: column;
    justify-content: center;
}

.container > h1 {
    color: var(--sec-color);
    font-size: var(--ff-size);
    font-family: var(--ff-main-font);
}