
:root {
  --nav-bg-color: #162447;
  --primary-fc: #EEEEEE;

  --brand-fz: 1em;
  --primary-ff: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
