@import './base.css';

#app {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

.nvbar {
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: space-between;
}

.nvbar-brand, 
.nv-list li a {
  padding: 1em; 
  color: var(--primary-fc);
  font-family: var(--primary-ff);
}

.nv-list {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  list-style-type: none;
}

.nvbar-brand {
  font-size: var(--brand-fz);
}

.nv-list li {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}

.nv-list li a {
  text-decoration: none;
}